@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name=" viewport" content="width=device-width" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Formularz rejestracji</title>
    </head>
    <body>
        <div class="text-center">
                <h3>Formularz zgłoszeniowy uczestnictwa na targach pracy</h3>
            <a class="btn btn-dark" asp-action="ApplicationForm">Aplikuj teraz!</a>
        </div>
    </body>
</html>